.donation-header {
  color: var(--color-txt);
  display: flex;
  justify-content: center;
}

.donation-container {
  display: flex;
  /* Horizontal centering */
  justify-content: center;
  /* Vertical centering */
  align-items: center;
}

.donation-wrapper div {
  background-color: var(--color-grey-background);
  max-width: 37.5rem;
  border-radius: 0.938rem;
  padding: 0.938rem;
  margin: 1.25rem;
}

.donation-wrapper h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
  color: var(--color-txt);
}
.first-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.second-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.selectAmount-btn {
  background-color: var(--color-white);
  border: 1px solid darkgray;
  border-radius: 0.938rem;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  min-width: 7rem;
  margin: 1.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-black);
  box-shadow: 0 2px 5px var(--color-grey);
  cursor: pointer;
  transition: box-shadow 1s;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.selectAmount-btn:hover,
.selectAmount-btn:focus {
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
  border: 1px solid darkgray;
  background-color: var(--color-white);
  color: var(--color-black);
  cursor: pointer;
}

.selectAmount-btn:active,
.selectAmount-btn:visited {
  background-color: var(--color-white);
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
  border: 1px solid darkgray;
  color: var(--color-black) !important;
}

.amountSubmitForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
  transition: all 0.5s;
}
.amountSubmitForm > div {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 0.938rem;
}

.amountSubmitForm > div > svg {
  position: absolute;
  transform: translateX(0.8rem);
  font-size: 1.2rem;
  color: var(--color-icon-gray);
  margin-left: 0.6rem;
}
.custom-amount > input {
  border-radius: 0.938rem;
  background-color: var(--color-white);
  border: 1px solid darkgray;
}
