.no-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.no-search-result-header {
  font-size: 0, 5, rem;
  margin-bottom: 1, rem;
  color: var(--color-txt);
  margin-top: 3rem;
}

.no-search-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.no-search-result-header-image {
  width: 24rem;
  height: 24rem;
  margin-bottom: 50px;
}
