/* Desctop Design*/
.logo_wrapper {
  padding-inline: 1rem;
}
.navLinkHeader,
.navLinkLogInHeader {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  display: inline-block;
  position: relative;
}
.visited .navLinkHeader,
.visited .navLinkLogInHeader {
  color: var(--color-white);
}

/* Responsive Design Tablet */
@media screen and (max-width: 61.94em) {
  /*991px*/
  .searchHeader {
    display: none;
  }

  .navLinkLogInHeader {
    margin-top: 3rem;
  }
  .navLinkHeader,
  .navLinkLogInHeader {
    margin-left: 1rem;
  }
}

/* Responsive Design Mobile */
@media screen and (max-width: 37.5em) {
  /*600px*/
}
