.header {
  color: #000000;
}
.container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}
.not-found-wrapper div {
  background-color: rgb(248, 242, 242);
  max-width: 600px;
  border-radius: 15px;
  padding: 15px 15px 15px 15px;
  margin: 20px 5px 20px 20px;
}
.not-found-wrapper h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
}
.img-page-not-found {
  width: 100%; /* Adjust the width percentage to your desired size */
  height: auto;
  object-fit: cover;
}
