.favoriteButton {
  background-color: var(--color-btn);
  color: var(--color-white);
  border: none;
}

.favoriteButton:hover
.favoriteButton:focus {
  background-color: var(--color-btn-hover)!important;
  color: var(--color-white);
}

.favoriteButton:active,
.favoriteButton:visited {
  transform: scale(0.98);
  background-color: var(--color-btn-hover) !important;
  color: var(--color-white) !important;
}

.adoptButton {
  background-color: var(--color-btn);
  color: var(--color-white);
  border: none;
}

.adoptButton:hover
.adoptButton:focus {
  background-color: var(--color-btn-hover)!important;
  color: var(--color-white)!important;
}

.adoptButton:active
.adoptButton:visited {
  background-color: var(--color-action-btn-hover) !important;
  color: var(--color-white) !important;
  outline: none;
  transform: scale(0.98);
}

.buttonContainer {
  display: flex;
  justify-content: normal;
  align-items: center;
}

.buttonSpacing {
  margin: 7px;
}

.frame-border {
  border: 5px solid pink;
}
.frame-body {
  padding: 1rem 2rem 2rem 2rem;
}
.back-button {
  margin-left: 1.2rem;
}
