.favoriteButton {
  background-color: var(--color-btn);
  color: var(--color-white);
  border: none;
  }

.favoriteButton:hover {
  background-color: var(--color-btn-hover);
}

.favoriteButton:active {
  background-color: var(--color-action-btn-hover) !important;
  outline: none;
}

.adoptButton {
  background-color: var(--color-btn);
  color: var(--color-white);
  border: none;
}

.adoptButton:hover {
  background-color: var(--color-btn-hover);
}

.adoptButton:active {
  background-color: var(--color-action-btn-hover) !important;
  outline: none;
}

.buttonContainer {
  display: flex;
  justify-content: normal;
  align-items: center;
}

.buttonSpacing {
  margin: 7px;
}

.frame {
  border: 5px solid pink;
  padding: 2rem;
}