.pets_container {
  background-color: var(--color-background);
  color: var(--color-txt);
  position: relative;
}
.home_header {
  position: absolute;
  /* position: fixed; */
  /* position: static; */
  top: 0;
  width: auto;
  justify-content: center;
}

.home_banner {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 40rem;
  margin-bottom: 2rem;
}
video {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}
.home_banner_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--color-white);
  padding-left: 4rem;
  background-color: transparent;
}
.find_pet_button button {
  background-color: var(--color-action-btn);
  /* border: 3px solid var(--color-btn-border); */
  border-radius: 18px;
  border: none;
}
.find_pet_button button:hover {
  background-color: var(--color-action-btn-hover);
}
.homePage_txt {
  text-align: center;
  margin: 2rem;
}
.cardsContainerWithSelect {
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 100%;
}
.cardsContainer {
  width: 100%;
  margin-top: 1rem;
  padding-inline: 3rem;
}
.grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-option:disabled {
  background-color: dimgrey;
  color: #a9a9a9;
  opacity: 1;
}

.custom-pagination-link > a {
  background-color: var(--color-action-btn) !important;
  color: var(--color-white);
  border: none;
}

.custom-pagination-link > a:hover {
  color: var(--color-white);
}
.custom-pagination-link > span {
  background-color: var(--color-btn) !important;
  border: none;
}
.clearFiltersBtn {
  background-color: var(--color-action-btn);
  border: none;
  border-radius: 18px;
  color: var(--color-white);
}
.clearFiltersBtn:hover {
  background-color: var(--color-action-btn-hover);
}
.clearFiltersBtn:active,
.clearFiltersBtn:visited {
  background-color: var(--color-action-btn-active) !important;
  transform: scale(0.98);
}

/* Responsive Design Tablet */

@media screen and (max-width: 61.94em) {
}

/* Responsive Design Mobile */
@media screen and (max-width: 37.5em) {
  .cardsContainer {
    padding-inline: 1rem;
  }
}

/* Responsive Design Mobile */
@media screen and (max-width: 18.75em) {
  .cardsContainer {
    padding-inline: 0rem;
  }
}
