input {
  padding: 0.83rem 3.33rem;
  padding-right: 0.83rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  outline: none;
  background-color: rgb(255, 255, 255);
}
