.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header {
  font-size: 1,5rem;
  margin-bottom: 1,5rem;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 19rem;
  height: 19rem;
  margin-bottom: 20px
}

.button {
  background-color: var(--color-btn);
  border: 3px solid var(--color-btn-border);
  border-radius: 20px;
  font-size: 18px;
  padding: 10px 20px;
}


