.home_header {
  position: absolute;
  /* position: fixed; */
  /* position: static; */
  top: 0;
  width: auto;
  justify-content: center;
}

.home_banner {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 40rem;
  margin-bottom: 2rem;
}
video {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}
.home_banner_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--color-white);
  padding-left: 4rem;
  background-color: var(--color-transparent);
  gap: 1rem;
}
.cardsContainer {
  /* margin-left: 6rem; */
  margin-top: 2rem;
  margin-inline: 5rem;
}
.grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homePage_txt {
  text-align: center;
  margin: 3rem;
  color: var(--color-txt);
}
.find_pet_button button {
  background-color: var(--color-action-btn);
  /* border: 3px solid var(--color-btn-border); */
  border-radius: 18px;
  border: none;
}
.find_pet_button button:hover {
  background-color: var(--color-action-btn-hover);
}

/* Responsive Design Tablet */
@media screen and (max-width: 61.94em) {
  /*991px*/
}

/* Responsive Design Mobile */
@media screen and (max-width: 37.5em) {
  /*600px*/
  .home_banner_content {
    height: 5rem;
    position: relative;
    align-items: center;
    padding-left: 0;
    gap: 1rem;
  }
  .home_banner_content h1 {
    color: var(--color-txt);
  }

  video {
    display: none;
  }

  .home_banner {
    height: fit-content;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .cardsContainer {
    margin-inline: 1rem;
  }
}
