header {
  /* position: absolute; */
  position: fixed;
  /* position: static; */
  top: 0;
  width: auto;
  justify-content: center;
}
.homePage_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* .main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
  background-color: var(--color-background);
  margin-bottom: 1rem;
} */
.home_banner {
  position: relative;
  width: 100%;
  height: 40rem;
  margin-bottom: 2rem;
}
video {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}
.home_banner_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding-left: 4rem;
}
.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 6rem;
  margin-top: 2rem; */
}
.grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homePage_txt {
  text-align: center;
  /* padding: 2rem 1rem; */
  margin: 2rem;
}
/* .cardsContainer {
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
/* grid-template-columns: var(
  --breakpoint-grid_column-template,
  repeat(var(--breakpoint-grid_columns, 1), minmax(0, 1fr))
);
--breakpoint-grid_columns: 3;
grid-gap: 2rem;
justify-items: center;
margin-top: 5rem;
padding-inline: var(--explore_padding-inline); */

/* --explore_padding-inline: 3rem; */
/* } */
.find_pet_button button {
  background-color: var(--color-btn-tomato);
  border: none;
  border-radius: 18px;
}
.find_pet_button button:hover {
  background-color: rgb(189, 34, 7);
  transition: all 0.3s ease;
  transform: scale(1.1);
  /* background-color: var(--color-btn-tomato-dark); */
}

/* Responsive Design Mobile */
@media screen and (max-width: 900px) {
  /* .cardsContainer {
    --breakpoint-grid_columns: 2;
  } */
}

/* Responsive Design Mobile */
@media screen and (max-width: 600px) {
  /* body {
    font-size: 0.7rem;
  } */
  .homePage_main {
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    background-color: red;

    width: 100%;
  }
  .home_banner_content {
    height: 5rem;
    position: relative;
    align-items: center;
    padding-left: 0;
  }
  .home_banner_content h1 {
    color: var(--color-txt);
  }

  video {
    display: none;
  }
  .home_banner {
    height: fit-content;
  }
  /* .cardsContainer {
  } */
  /* @include media-breakpoint-up(sm) {
    .custom-class {
      display: block;
    }
  } */
}
