.gradient-custom {
  background-image: linear-gradient(
    to left top,
    #ff3264,
    #fd466b,
    #fb5571,
    #f96278,
    #f66e7f,
    #f67c87,
    #f68a90,
    #f59799,
    #f6a9a7,
    #f6bbb7,
    #f5cdc8,
    #f3dedb
  );
}
.color-btn-edit-prof {
  background-color: var(--color-white);
  color: var(--color-action-btn);
}
.color-btn-edit-prof:hover {
  background-color: var(--color-white);
  color: var(--color-action-btn-hover);
}
.color-btn {
  background-color: var(--color-btn);
  color: var(--color-white);
}
.color-btn:hover {
  background-color: var(--color-btn-hover);
  color: var(--color-white);
}
.bnt-shape {
  border-radius: 50%;
}

.profile-container {
  min-width: 38rem;
  padding-top: 10%;
  padding-bottom: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.profile-heading-wrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-heading {
  font-weight: 400;
}
