.updateProfileContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: flex;
  padding-top: 15%;
  padding-bottom: 25%;
  top: 0;
  left: 0;
}

.updateProfileBox {
  width: 20rem;
  height: 30rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--color-white);
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.updateProfileHeading {
  text-align: center;
  color: var(--color-txt);
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-grey);
  width: 50%;
  margin: auto;
  font-weight: 400;
}

.updateProfileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1.5rem;
  justify-content: space-evenly;
  height: 85%;
  transition: all 0.5s;
}

.updateProfileForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.updateProfileForm > div > svg {
  position: absolute;
  transform: translateX(0.8rem);
  font-size: 1.6rem;
  color: var(--color-grey);
}

.updateProfileImage > img {
  width: 3rem;
  height: auto;
  border-radius: 100%;
}
.updateProfileImage > input {
  display: flex;
  padding: 0%;
}

.updateProfileImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 2rem;
  border: none;
  margin: 0%;
  font-size: 1rem;
  transition: all 0.5s;
  padding: 0 0.5rem;
  border-radius: 4px;
  color: var(--color-white);
  background-color: var(--color-btn);
}

.updateProfileImage > input::file-selector-button:hover {
  background-color: var(--color-btn-hover);
}

.updateProfileBtn {
  background-color: var(--color-action-btn);
  color: var(--color-white);
  width: 100%;
  box-shadow: 0 2px 5px var(--color-grey);
}

.updateProfileBtn:hover {
  background-color: var(--color-action-btn-hover);
  color: var(--color-white);
}
