img {
    width: 30rem;
    height: 40rem;
}

body {
    background-color: #f9ecdf;
    color: #3f2f23;
}

h1 {
    text-align: center;
    font-size: 3em;
    
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.card__text {
    margin-left: 1rem;
    margin-right: 1rem;
}

.card__text p {
    display: flex;
    font-size: 1.5em;
    text-align: justify;
}

.card__text p:first-child {
    margin-top: 0;
}

.card__text img {
    float: right;
    margin-left: 1rem;
}