#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
  /* Colors */
  --color-background: #FFF4EC;
  --color-txt: #45312E;
  --color-btn: #F27D88;
  --color-btn-hover: #fa9da6;
  --color-action-btn: #ff3264;
  --color-action-btn-hover: #ff668c;
  --color-header-footer: #FF9671;
  --color-white: #fff;
  --color-black: #000;
  --color-beige: #F3DEDB;

}

main {
    flex: 1;
}