#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
:root {
  /* Colors */
  --color-background: #fff4ec;
  --color-txt: #45312e;
  --color-btn: #f27d88;
  --color-btn-hover: #fa9da6;
  --color-action-btn: #ff3264;
  --color-action-btn-hover: #ff668c;
  --color-header-footer: #ff9671;
  --color-white: #fff;
  --color-black: #000;
  --color-beige: #f3dedb;
}

main {
  flex: 1;
}
